/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

.title {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: white;
  text-align: center;
}
@media (min-width: 744px) {
  .title {
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1.5px;
    vertical-align: middle;
    padding-bottom: 50px;
  }
}
@media (min-width: 1260px) {
  .title {
    font-size: 80px;
    line-height: 100%;
    letter-spacing: -1.5px;
    vertical-align: middle;
    padding-bottom: 115px;
  }
}
.title--secondary {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: white;
  text-align: left;
}
@media (min-width: 744px) {
  .title--secondary {
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -1.5px;
  }
}
@media (min-width: 1260px) {
  .title--secondary {
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1.5px;
  }
}
.title--section {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  margin-bottom: 48px;
}
@media (min-width: 744px) {
  .title--section {
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -1.5px;
    margin-bottom: 0px;
    padding-bottom: 64px;
  }
}
@media (min-width: 1260px) {
  .title--section {
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1.5px;
    margin-bottom: 8px;
  }
}
.title--tertiary {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 8px;
}
@media (min-width: 744px) {
  .title--tertiary {
    padding-bottom: 0px;
  }
}
@media (min-width: 1260px) {
  .title--tertiary {
    padding-bottom: 0px;
    grid-column: 1/9;
  }
}

.header {
  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0 clamp(20px, 5vw, 80px) 88px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 743px) {
  .header {
    background-position-x: 87%;
  }
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
}
.header__title {
  margin-top: auto;
}

.main {
  padding-top: 60px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 23px;
  line-height: 140%;
  letter-spacing: 0px;
  background-color: #1d1d1d;
  color: white;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
}
@media (min-width: 744px) {
  .main {
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
  }
}
@media (min-width: 1260px) {
  .main {
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
  }
}
@media (min-width: 744px) {
  .main {
    padding-top: 120px;
  }
}
@media (min-width: 1260px) {
  .main {
    padding-top: 120px;
  }
}
.main__title {
  margin-bottom: 12px;
  grid-column: 1/3;
}
@media (min-width: 744px) {
  .main__title {
    grid-column: 1/4;
  }
}
@media (min-width: 1260px) {
  .main__title {
    grid-column: 1/6;
  }
}
.main__content {
  grid-column: 1/3;
}
@media (min-width: 744px) {
  .main__content {
    grid-column: 4/7;
  }
}
@media (min-width: 1260px) {
  .main__content {
    grid-column: 7/13;
  }
}
.main__paragraph {
  margin-bottom: 40px;
}
@media (min-width: 744px) {
  .main__paragraph {
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1260px) {
  .main__paragraph {
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0px;
    margin-bottom: 129px;
  }
}
.main__section {
  grid-column: 1/3;
}
@media (min-width: 744px) {
  .main__section {
    grid-column: 1/7;
  }
}
@media (min-width: 1260px) {
  .main__section {
    grid-column: 1/13;
  }
}

.bike__photo {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 100%;
  height: auto;
}
.bike__photo:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  filter: brightness(0.9);
  cursor: pointer;
}
.bike__type {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0px;
  margin-bottom: 8px;
}
.bike__description {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0px;
  margin-bottom: 16px;
}
.bike__price {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0px;
  margin-bottom: 40px;
}

.details__paragraph {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0px;
  margin-bottom: 40px;
}
@media (min-width: 744px) {
  .details__paragraph {
    margin-bottom: 48px;
  }
}
@media (min-width: 1260px) {
  .details__paragraph {
    margin-bottom: 48px;
    grid-column: 1/9;
  }
}
@media (min-width: 1260px) {
  .details__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/9;
  }
}

.images {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
}
@media (min-width: 744px) {
  .images {
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
  }
}
@media (min-width: 1260px) {
  .images {
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
  }
}
.images {
  margin-bottom: 16px;
}
.images__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.images__item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  filter: brightness(0.9);
  cursor: pointer;
}
@media (min-width: 744px) {
  .images__item {
    grid-column: span 3;
  }
}
@media (min-width: 1260px) {
  .images__item {
    grid-column: span 6;
  }
}
@media (min-width: 744px) {
  .images__item--small {
    grid-column: span 2;
  }
}
@media (min-width: 1260px) {
  .images__item--small {
    grid-column: span 4;
  }
}
@media (min-width: 744px) {
  .images__item--big {
    grid-column: span 4;
  }
}
@media (min-width: 1260px) {
  .images__item--big {
    grid-column: span 8;
  }
}

.button {
  border-radius: 40px;
  background-color: white;
  color: #1d1d1d;
  text-decoration: none;
  height: 56px;
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 56px;
  letter-spacing: 0px;
  text-align: center;
  padding: 0 20px;
  display: block;
}
.button--primary {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
  color: #1d1d1d;
  margin-bottom: 28px;
}
.button--primary:hover {
  background-color: #ffffff;
  box-shadow: 1px 4px 16px 0px rgba(232, 232, 240, 0.4);
}
@media (min-width: 744px) {
  .button--primary {
    margin-bottom: 120px;
  }
}
@media (min-width: 1260px) {
  .button--primary {
    margin-bottom: 180px;
  }
}
.button__explore {
  margin-bottom: 28px;
  grid-column: 1/3;
}
@media (min-width: 744px) {
  .button__explore {
    grid-column: 2/6;
    margin-bottom: 68px;
  }
}
@media (min-width: 1260px) {
  .button__explore {
    grid-column: 5/9;
    margin-bottom: 128px;
  }
}
.button__explore:hover {
  background-color: #ffffff;
  box-shadow: 1px 4px 16px 0px rgba(232, 232, 240, 0.4);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form__input {
  border-radius: 40px;
  background-color: #f8f8fa;
  height: 48px;
  line-height: 48px;
  border: 0;
  width: 100%;
  padding-left: 16px;
  box-sizing: border-box;
}
.form__input::placeholder {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #7e7e83;
}
.form__input:hover::placeholder {
  color: #292929;
}
.form__textarea {
  border-radius: 16px;
  background-color: #f8f8fa;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 16px;
  line-height: 48px;
}
.form__textarea::placeholder {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: #7e7e83;
}
.form__textarea:hover::placeholder {
  color: #292929;
}
.form__label:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.section {
  padding: 32px 0 0;
}

.address {
  color: #ffffff;
}
.address__label {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0px;
  margin-bottom: 8px;
}
.address__value {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0px;
  margin-bottom: 24px;
}
.address__value:hover {
  color: #ffcc00;
}
.address__spacing {
  margin-bottom: 120px;
}
.address__nap-link {
  color: #ffffff;
  text-decoration: none;
}
.address__nap-link:hover {
  color: #ffcc00;
}

.footer {
  height: 200px;
  background-image: url('../images/footer-image--desktop.jpg');
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-position-x: 83%;
  box-sizing: border-box;
}
@media (min-width: 744px) {
  .footer {
    height: 480px;
  }
}
@media (min-width: 1260px) {
  .footer {
    height: 555px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navigation__close-icon {
  height: 16px;
}
@media (min-width: 744px) {
  .navigation__close-icon {
    height: 21px;
  }
}
@media (min-width: 1260px) {
  .navigation__close-icon {
    height: 21px;
  }
}
.navigation__logo {
  height: 38px;
}
@media (min-width: 744px) {
  .navigation__logo {
    height: 56px;
  }
}
@media (min-width: 1260px) {
  .navigation__logo {
    height: 56px;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  background-color: #c2c2c2;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 0 clamp(20px, 5vw, 80px) 88px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 12px;
}
.menu:target {
  transform: translateX(0);
}
.menu__contact-box,
.menu__navigation,
.menu__links,
.menu__paragraph {
  grid-column: span 2;
}
.menu__contact-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menu__paragraph {
  white-space: nowrap;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #1d1d1d;
}
.menu__call-link {
  font-family: Poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1d1d;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.menu__call-link:hover {
  border-bottom: 1px solid #1d1d1d;
}
@media (min-width: 744px) {
  .menu {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 16px;
  }
  .menu__contact-box,
  .menu__navigation,
  .menu__links,
  .menu__paragraph {
    grid-column: span 6;
  }
}
@media (min-width: 1260px) {
  .menu {
    grid-template-columns: repeat(12, 1fr);
    row-gap: 20px;
  }
  .menu__contact-box,
  .menu__navigation,
  .menu__links,
  .menu__paragraph {
    grid-column: span 12;
  }
}

.page__body--with-menu {
  overflow: hidden;
}

.links {
  margin-bottom: 8px;
}
.links__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.links__link {
  display: inline-block;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  color: #1d1d1d;
  text-decoration: none;
  padding-bottom: 8px;
}
.links__link:hover {
  border-bottom: 1px solid #1d1d1d;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
}
@media (min-width: 744px) {
  .grid {
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
  }
}
@media (min-width: 1260px) {
  .grid {
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
  }
}
.grid__bike {
  grid-column: span 2;
}
@media (min-width: 744px) {
  .grid__bike {
    grid-column: 2/6;
  }
}
@media (min-width: 1260px) {
  .grid__bike {
    grid-column: span 4;
  }
}

.contact {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
}
@media (min-width: 744px) {
  .contact {
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
  }
}
@media (min-width: 1260px) {
  .contact {
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
  }
}
.contact__form {
  grid-column: span 2;
}
@media (min-width: 744px) {
  .contact__form {
    grid-column: span 3;
  }
}
@media (min-width: 1260px) {
  .contact__form {
    grid-column: 1/6;
  }
}
.contact__address {
  grid-column: span 2;
}
@media (min-width: 744px) {
  .contact__address {
    grid-column: span 3;
  }
}
@media (min-width: 1260px) {
  .contact__address {
    grid-column: -6/-1;
  }
}

.burger::before {
  content: '';
  background-image: url('../images/menu-vector.svg');
  background-size: cover;
  display: inline-block;
  width: 18px;
  height: 12px;
}
@media (min-width: 744px) {
  .burger::before {
    width: 24px;
    height: 16px;
  }
}
@media (min-width: 1260px) {
  .burger::before {
    width: 24px;
    height: 16px;
  }
}
.burger::after {
  display: none;
  content: '';
  background-image: url('../images/menu-vector--hover.svg');
  background-size: cover;
  width: 18px;
  height: 12px;
}
@media (min-width: 744px) {
  .burger::after {
    width: 24px;
    height: 24px;
  }
}
@media (min-width: 1260px) {
  .burger::after {
    width: 24px;
    height: 16px;
  }
}
.burger:hover::before {
  display: none;
}
.burger:hover::after {
  display: inline-block;
}
.burger__label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.phone__label {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: right;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  transform: translateX(calc(-100% - 20px)) translateY(5px);
  transition: color 0.3s ease;
}
.phone__link {
  color: #ffffff;
  text-decoration: none;
}
.phone__link:hover {
  color: #ffcc00;
}
.phone__icon {
  height: 18px;
  width: 18px;
}
@media (min-width: 744px) {
  .phone__icon {
    width: 24px;
    height: 24px;
  }
}
@media (min-width: 1260px) {
  .phone__icon {
    width: 24px;
    height: 24px;
  }
}
.phone:not(:hover) .phone__label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*# sourceMappingURL=styles.css.map */
