.address {
  color: #FFFFFF;

  &__label {
font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 140%;
letter-spacing: 0px;
margin-bottom: 8px;
  }

  &__value {
font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 140%;
letter-spacing: 0px;
margin-bottom: 24px;
  }

  &__spacing {
    margin-bottom: 120px;
  }

  &__nap-link {
  color: #FFFFFF;
  text-decoration: none;

}
}
