@use '../utils/mixins.scss' as *;

.burger {


&::before {
content: '';
background-image: url(../../images/menu-vector.svg);
background-size: cover;
display: inline-block;
width: 18px;
height: 12px;
}

&::after {
display: none;
content: '';
background-image: url(../../images/menu-vector--hover.svg);
background-size: cover;
width: 18px;
height: 12px;
}

&:hover {
  &::before {
    display: none;
  }

  &::after {
    display: inline-block;

  }
}

  &__label {
    @include visually-hidden();

  }

}
