.button {
  border-radius: 40px;
  background-color: white;
  color: #1D1D1D;
  text-decoration: none;
  height: 56px;
  display: block;
  text-align: center;
  line-height: 56px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;

  &--primary {
  border-radius: 40px;
  background-color: white;
  color: #1D1D1D;
  text-decoration: none;
  height: 56px;
  display: block;
  text-align: center;
  line-height: 56px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  
}
}
