@use '../utils/mixins.scss' as *;

.container {
max-width: 320px;
margin: 0 auto;
padding: 0 20px;

@include Ipad-744() {
  padding: 0 72px;
  max-width: 644px;
}

@include Desktop-1260() {
  max-width: 1020px;
  padding: 0 120px;
}
}
