@use '../utils/mixins.scss' as *;

.footer {
  height: 200px;
  background-image: url('../images/footer-image--desktop.jpg');
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-position-x: 83%;
  box-sizing: border-box;

  @include Ipad-744() {
    height: 480px;
  }

  @include Desktop-1260() {
    height: 555px;
  }
}
