@use '../utils/mixins.scss' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__input {
    border-radius: 40px;
    background-color: #f8f8fa;
    height: 48px;
    line-height: 48px;
    border: 0;
    width: 100%;
    padding-left: 16px;
    box-sizing: border-box;

    &::placeholder {
      font-family: Poppins;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0px;
      color: #7e7e83;
    }
    &:hover::placeholder {
      color: #292929;
    }
  }

  &__textarea {
    border-radius: 16px;
    background-color: #f8f8fa;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    line-height: 48px;
    height: 148px;

    &::placeholder {
      font-family: Poppins;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      color: #7e7e83;
    }
    &:hover::placeholder {
      color: #292929;
    }
  }

  &__label {
    &:not(:focus):not(:active) {
      @include visually-hidden();
    }
  }
}
