@use '../utils/mixins.scss' as *;

.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 clamp(20px, 5vw, 80px) 52px;

  @include Ipad-744() {
    margin: 0 clamp(176px, 5vw, 200px) 80px;

  }
  @include Desktop-1260() {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

}
