@use '../utils/mixins.scss' as *;


//   background-position-x: 87%;

.header {
  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  width: 100%;

  min-height: 100vh;
  box-sizing: border-box;
  padding: 0 clamp(20px, 5vw, 80px) 88px;
  display: flex;
  flex-direction: column;

  @media (max-width: 743px) {
    background-position-x: 87%;
  }

  &__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
}

&__title {
  margin-top: auto;
}
}



