@use '../utils/mixins.scss' as *;

.header {
  background-image: url('/images/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: 87%;
  background-color: black;

  min-height: 100vh;
  box-sizing: border-box;
  padding: 0 20px 88px;

  @include Ipad-744() {
    background-position: center center;
  }

  @include Desktop-1260() {
    background-position: center center;
  }

  grid-template-rows: auto auto;

  @include grid();

  &__navigation {
    align-self: start;
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    @include Ipad-744() {
      grid-column: 1 / 7;
    }

    @include Desktop-1260() {
      grid-column: 1 / 13;
    }
  }

  &__title {
    align-self: flex-end;
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    @include Ipad-744() {
      grid-column: 1 / 7;
    }

    @include Desktop-1260() {
      grid-column: 1 / 13;
    }
  }
}
