.links {
margin-bottom: 8px;

  &__list {
  display: flex;
  flex-direction: column;
  gap: 32px
  }


  &__link {
display: inline-block;
font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 22px;
line-height: 22px;
letter-spacing: 2px;
vertical-align: middle;
text-transform: uppercase;
border-bottom: 1px solid transparent;
color: #1D1D1D;
text-decoration: none;

&:hover {
  border-bottom: 1px solid #1D1D1D;
}
  }

}
