.main {
padding: 60px 20px;
font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 23px;
line-height: 140%;
letter-spacing: 0px;
background-color: #1D1D1D;
color: white;

&__content {
  
}

&__paragraph {
  margin-bottom: 92px ;
}
}
