@use '../utils/mixins.scss' as *;

.main {
  padding-top: 60px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 23px;
  line-height: 140%;
  letter-spacing: 0px;
  background-color: #1d1d1d;
  color: white;

  @include Ipad-744() {
    padding-top: 120px;
  }
  @include Desktop-1260() {
    padding-top: 120px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    margin: 0 clamp(20px, 5vw, 80px) 92px;

    @include Ipad-744() {
      flex-direction: row;
      justify-content: space-between;
      gap: 60px;
      margin: 0 clamp(72px, 8vw, 160px) 132px;
    }

    @include Desktop-1260() {
      flex-direction: row;
      justify-content: space-between;
      gap: 88px;
      margin: 0 clamp(120px, 10vw, 200px) 164px;
    }
  }

  &__paragraph {
    font-size: 23px;
    line-height: 140%;
    flex: 2;
  }
}
