@use '../utils/mixins.scss' as *;

.main {
padding-top: 60px;
font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 23px;
line-height: 140%;
letter-spacing: 0px;
background-color: #1D1D1D;
color: white;

  @include grid();

&__title {
  margin-bottom: 12p;
  grid-column: 1 / 3;

  @include Ipad-744() {
  grid-column: 1 / 4;
  }

  @include Desktop-1260() {
  grid-column: 1 / 7;
  }
}

&__content {
  grid-column: 1 / 3;

  @include Ipad-744() {
  grid-column: 4 / 7;
  }

  @include Desktop-1260() {
  grid-column: 7 / 13;
  }
}

&__paragraph {
  margin-bottom: 40px ;
}

&__section {
  grid-column: 1 / 3;

  @include Ipad-744() {
  grid-column: 1 / 7;
  }

  @include Desktop-1260() {
  grid-column: 1 / 13;
  }

}
}
